.page-container{
    max-width: 1440px;
    width: 100%;
    background-color: #000;
    margin: 0 auto;
    color: #fff;
}
.page-head{
    height: 250px;
    max-width: 900px;
    width: 100%;
    padding: 72px 0 36px;
    position: relative;
    margin: 0 auto;
}
 .head-text{
    display: block;
    display: none;
}

.svg-container{
    max-width: 900px;
    width: 100%;
    height: 159px;
    position: relative;
    margin: 0 8px 0 8px;

}
.head-svg{
    width: 100%;
    position: absolute;
}