.page-container{
    max-width: 1440px;
    width: 100%;
    background-color: #000;
    margin: 0 auto;
    color: #fff;
}
.page-head{
    height: 250px;
    padding: 72px 0 36px;
    position: relative;
}
 .head-text{
    display: block;
    font-size: 46px;
    text-transform: capitalize;
}